
<div class="row mx-0 w-100 d-flex">
  <div
    class="col-md-2 sidebar bg-dark d-flex flex-column align-items-center"
    style="min-height: 88vh"
  >
    <a routerLink="/dashboard" style="text-decoration: none">
      <h2 class="mb-0 text-light mt-3 mb-3">
        <i class="fa-solid fa-house-user me-2"></i>Dashboard
      </h2>
    </a>
    <a routerLink="/employee" style="text-decoration: none">
      <h2 class="mb-0 text-light">
        <i class="fa-solid fa-user-group me-2"></i>Employees
      </h2>
    </a>
  </div>
  <div class="col-md-10 p-0">
    <div class="row mx-0 w-100 p-3">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <h3 class="text-primary">Employee List</h3>
          <h6 class="mt-2">08/07/2024, 10:13 AM</h6>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-outline-primary">
            Add<i class="fa-solid fa-user-plus ms-2"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      class="row mx-0 w-100 p-3 d-flex justify-content-center align-items-center"
    >
      <div class="col-md-6 d-flex pe-5">
        <input type="text" placeholder="Username" class="form-control" />
        <div class="dropdown ms-3">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">By Name</a></li>
            <li><a class="dropdown-item" href="#">By ID</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button class="btn btn-success">
          Export <i class="fa-solid fa-file-excel ms-2"></i>
        </button>
      </div>
    </div>
    <div class="row mx-0 w-100 mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <table class="shadow table table-bordered">
          <thead>
            <th class="bg-secondary text-light text-center border border-1 p-2">
              User ID
            </th>
            <th class="bg-secondary text-light text-center border border-1 p-2">
              Username
            </th>
            <th class="bg-secondary text-light text-center border border-1 p-2">
              Email
            </th>
            <th class="bg-secondary text-light text-center border border-1 p-2">
              Status
            </th>
            <th class="bg-secondary text-light text-center border border-1 p-2">
              Action
            </th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Sanjay</td>
              <td>test@gmail.com</td>
              <td><button class="btn btn-success">Active</button></td>
              <td class="d-flex justify-content-evenly">
                <button class="btn btn-outline-primary">
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button class="btn btn-outline-danger">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>