<div class="d-flex">
    <!-- side-bar -->
     <div id="sidebar">
        <div class="mt-5 text-center text-light">
            <h3>Dashboard</h3>
            <h5>employee</h5>
        </div>
     </div>
     <!-- main -->
      <div class="container-fluid">
          <div class="row pt-3 ps-1 ">
            <div class="col-md-8">
                <div id="maindiv1">
                    <h4 class="ms-4 text-light" >
                        <i class="fa-solid fa-bars me-3"></i>
                        welcom admin
                    </h4>
                </div>
            
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <p>calender</p>
                    </div>
                    <div class="col-md-6">
                        <p>pie chart</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div style="height: 400px; background-color: aqua;" class="rounded d-flex justify-content align-items-center flex-column">
                    <!-- <img src="https://t3.ftcdn.net/jpg/07/25/29/80/360_F_725298029_rRBxqYqvAEubcXVpo7lqDV7xMFymWKPv.jpg" alt="no img" width="200px" height="200px" style="border-radius: 50%;">
                    <button class="btn text-center text-light">eidt admin details <i class="fa-solid fa-pen-nib"></i></button> -->

                    <div class="d-flex justify-content align-items-center flex-column">
                        <h5>update admin detailes</h5>
                        <img src="https://t3.ftcdn.net/jpg/07/25/29/80/360_F_725298029_rRBxqYqvAEubcXVpo7lqDV7xMFymWKPv.jpg" alt="no img" width="200px" height="200px" style="border-radius: 50%;">

                        <form class="mt-4">
                            <div class="mb-3">
                                <input type="text" placeholder="admin name" class="form-control">
                            </div>

                            <div class="mb-3">
                                <input type="text" placeholder="password" class="form-control">
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-warning">cancel</button>
                                <button class="btn btn-warning">update</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
          </div>
      </div>
</div>